body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

#container {
display: table;
border-collapse: collapse;
border: 1px solid black;
padding: 10px;
margin: 50px; /* add margin around the table */
}

#head, #mid, #bottom {
display: table-row;
border: 1px solid black;
padding: 10px;
text-align: center;
}

#mid input {
margin: 0 10px;
width: 100px;
}

button {
  margin-top: 10px;
}
