body {
	font-family: Arial, Helvetica, sans-serif;
	background-color: bisque;
}

h1 {
	text-align: center;
	color: black;
}

#quote_container {
	margin: 20px auto;
	padding: 20px;
	background-color: white;
	border: 1px solid blue;
	text-align: center;
	font-size: 1.2em;
}

#quote_container p {
	margin: 1;
}